{{ ansible_managed }}
networks:
  backend:

services:
  api:
    image: api:1.0.0
    build:
      args:
        - DOCKER_USER=${USER}
      context: .
      dockerfile: api.Dockerfile
      target: {{ targetenv }}
    env_file:
      - ./env/api.env
    networks:
      - backend
    ports:
      - "8080:8080"
{% if targetenv == "dev" %}
    volumes:
      - .:/opt/app/api
{% endif %}

  psql:
    image: postgres-db:1.0.0
    build:
      context: ./services/postgres
      dockerfile: postgres.Dockerfile
    env_file:
      - ./env/db.env
    networks:
      - backend
    ports:
      - "5432:5432"
    volumes:
      - psql_volume:/var/lib/postgresql/data

volumes:
  psql_volume:
